form label {
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    line-height: 1;
    color: #000;
    margin: 0 0 10px;
}
form select {
    width: 100%;
    display: block;
    max-width: 100%;
    height: 35px;
    padding: 0 5px;
    background: #c9d0d7;
    color: #000;
    border: 0;
}
.form-outer form fieldset {
    border: 0important;
    top: 0important;
    padding: 0important;
}
.form-outer fieldset legend {
    max-width: auto important;
}
.form-outer fieldset legend span {
    display: none;
}
.form-outer {
    padding: 20px 0;
}

.MuiSelect-selectMenu {
    box-sizing: border-box !important;
}
form {
    display: inline-block;
    max-width: 498px;
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 15px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
}
.availability-section {
    width: 100%;
    display: inline-block;
    margin: 0 0 10px;
}
form lable {
    width: 100%;
    display: inline-block;
    text-align: left;
}
.modalContainer {
    display: block;
    pointer-events: auto;
    background-color: rgb(90 84 84 / 80%) !important;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
}

.modal {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-primary);
    border-radius: 2rem;
    overflow: hidden;
    transition: 1.1s ease-out;
    box-shadow: var(--box-shadow1);
    /* filter: blur(0); */
    opacity: 1;
    visibility: visible;
    justify-content: center;
    min-width: 25%;
}

.modal form {
    opacity: 1;
    background: #fff;
}
